---
- hosts: servers
  become: true
  vars:
    nginx_sites: /etc/nginx/sites-available
    binary_calculator: /home/ubuntu/binary_calculator
    previous_path: "{{ binary_calculator }}/previous"
    jenkins_workspace: /var/lib/jenkins/workspace/binary_calculator
  tasks:
    - name: enable maintenance mode
      template:
        src={{ jenkins_workspace }}/ansible/maintenance.tpl
        dest={{ nginx_sites }}/default
      notify: 
        - restart nginx
    - copy: 
        src={{ jenkins_workspace }}/ansible/maintenance.html
        dest=/tmp/binary_calculator/maintenance.html
    - name: remove previous version
      file:
        state: absent
        path: "{{ previous_path }}/"
    - name: move previous version to subdirectory
      shell: mkdir {{ previous_path }}; mv {{ binary_calculator }}/* {{ previous_path }}/ || true
    - name: pause to do testing in a browser
      pause:
        seconds: 30
    - name: copy jenkins artifacts
      synchronize:
        src={{ jenkins_workspace }}/flask/
        dest={{ binary_calculator }}
    - name: copy commit
      copy:
        src={{ jenkins_workspace }}/.git/HEAD
        dest={{ binary_calculator }}/HEAD
    - name: create venv and install requirements
      command: "{{ item }}"
      with_items:
      - python3 -m venv {{ binary_calculator }}/.flask_env
      - "{{ binary_calculator }}/.flask_env/bin/pip3 install -r {{ binary_calculator }}/requirements.txt"
    - name: correct ownership
      file: dest={{ binary_calculator }} owner=ubuntu group=ubuntu recurse=yes
    - name: disable maintenance mode
      template:
        src={{ jenkins_workspace }}/ansible/default.tpl
        dest={{ nginx_sites }}/default
      notify: 
        - restart nginx
        - restart binary_calculator
  handlers:
    - name: restart nginx
      service:
        name=nginx
        state=restarted
    - name: restart binary_calculator
      service:
        name=binary_calculator
        state=restarted